{% extends 'base.html.twig' %}

{% block title %}gestion backoffice{% endblock %}

{% block body %}
{# code de l'inscription et connexion et deconnexion commenté ENLEVE DU FICHIER BASE TEMPLATE  #}
      {# <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CONNEXION</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" type="submit" class=" btn btn-success text-danger" href="{{ path('app_login') }}">CONNEXION</a>
            <a class="dropdown-item" type="submit" class=" btn btn-success text-danger" href="{{ path('app_logout') }}">DECONNEXION</a>
         
           </div>
        </li> 

<div class="example-wrapper">
    <h1 class="display-4 text-center  my-4">BACKOFFICE</h1>
    <p class="text-center">Bienvenue sur le backoffice</p>
    <a href="">gestion des membres</a>
    <a href="{{ path('app_formchambre')}}">gestion des chambres</a>
    <a href="">gestion du restaurant</a>
    <a href="">gestion du spa</a>
    <a href="">gestion des commentaires</a>


{% endblock %}
