{% extends 'base.html.twig' %}

{% block title %}formulaire chambre{% endblock %}

{% block body %}
    <h1>formulaire 3 GAMMES DE CHAMBRES</h1>
{# propriete formulaire
  $builder
            ->add('titre')
            ->add('description_courte')
            ->add('description_longue')
            ->add('photo')
            ->add('prix_journalier')
            ->add('date_enregistrement') #}



{% endblock %}
