{% extends 'base.html.twig' %}
{% block title %}Nos 3 gammes de chambre{% endblock %}
{% block body %}


<div class="example-wrapper">
    <h1>NOS 3 GAMMES DE CHAMBRES</h1>    
    {# <div class="container">
    <section class="row gx-4 gy-3">
            {# ! for valeur in (objet ou tableau) #}
            {# {% for chambre in items %}
            <div class="col-md-3">
                <div class="card border-primary">
                    <div class="card-header">{{ chambre.titre }}</div>
                    <div class="card-body text-center">
                        <p>{{ chambre.description_longue }} </p>
                        <p class="text-end h3">{{ chambre.prix }}€</p>
                        <p>{{ chambre.photo }}</p>
                        
                    </div>
                </div>
            
            </div>
            {% endfor %}
        </section> #}
    {# </div> #} 
{% endblock %}

